{
  extends: "airbnb",
  rules: {
    "arrow-parens": ["warn", "as-needed"],
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never",
    }],
    "indent": ["error", 2, {
      "SwitchCase": 1,
      "ArrayExpression": 1,
      "MemberExpression": 1,
      "ObjectExpression": 1,
      "VariableDeclarator": 2,
    }],
    "react/jsx-filename-extension": 0,
  }
}